<div class="d-flex flex-column justify-content-center p-2">
    <h1>{{title}}</h1>
    <p>Offers{{title}}</p>



    {{#each favors as |favor| }}
    <div class="card mb-3" style="max-width: 40rem;">
        <div class="card-header d-flex justify-content-between">
            <h5>{{ user.first_name}} {{ user.last_name}}</h5>
        </div>
        <div class="skill-badges mt-3">
            <span data-skills="{{user.skills}}" class="badges"></span>
        </div>
        {{!-- {{#each user.skills as |skill|}}
        <h1>{{skill}}</h1>
        {{/each}} --}}
        <div class="card-body d-flex justify-content-between align-items-center">

            <h4 class="card-title">{{favor.title}}</h4>
            <span data-difficulty="{{favor.difficulty }}" class="badge bg-secondary">Difficulty: </span>
        </div>

        <div class="card-body">
            <p class="card-text">{{favor.description}}</p>

            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ user.zip }}
            {{!-- <iframe width="600" height="250" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDWUXFtnQLy-H8kSJawAsZU2b-uBkpmacE&q={{user.location_string}}">
            </iframe> --}}
        </div>


        <div class="card-footer text-muted d-flex justify-content-center">
            <div class="w-100">
                <button type="button" class="btn btn-warning w-100">Trade</button>
            </div>

        </div>
    </div>
    {{/each}}
</div>